@charset "utf-8";

header{
	background-color:	#e4e4e4;
	/* position: fixed; */
	width: auto;
	/* margin-top: -10px;
	margin-bottom: 0px; */
	height: 150px;
}
div{
	background-color: silver;
	width: auto;
	height: 1400px;
	
}