@charset "utf-8";

header{
	background-color:	#e4e4e4;
	/* position: fixed; */
	width: auto;
	/* margin-top: -10px;
	margin-bottom: 0px; */
	height: 150px;
}
/* div{
	background-color: silver;
	width: auto;
	/* height: 1400px; */
	
/* } */


#main{
height: 1500px;
background-color: silver;
}
#top{
	height: 500px;
	background-color: rgb(236, 240, 241);
}

#mid{
	height: 500px;
	background-color: rgb(247, 237, 247);
}

#low{
	height: 500px;
	background-color: rgb(248, 242, 230);
}


footer{
background-color: rgb(214, 213, 215);
height: 100px;
}